html
    title Add Movie to Database

    style
        include ../public/new-movie.css

    script
        include ../public/new-movie.js

    body

        form#newMovieForm
            input(name="title", placeholder="Title")
            input(name="img", placeholder="Image Link")
            input(name="imdb_link", type="text", placeholder="IMDB Link")
            input(name="release", type="number", placeholder="Year", min=1900, max=new Date().getFullYear() + 1)
            input(name="available", type="number", placeholder="Inventory")

        button#submitMovie Add Movie to DB