body {
    background-color: black;
    color: white;
    text-align: center;
}

#newMovieForm {
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgba(251, 251, 251, 0.224);
    padding: 1%;
    border-radius: 5px;
}